*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}
#navigate{
    height: 60px;
    background-color: #0f110f;
}
#logo{
    color: #f08804;
    font-size: 25px ;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 180px;
}