/* #box1{
    height: 100px;
    width: 200px;
    background-color: aqua;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 30%;
    background-color: blueviolet;
    font-size: 2em;
} */

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    display: inline-block;
}
#box1{
    position: static;

}
#box2{
    position: relative;
    top: 5px;
}
#box3{
    position: absolute;
    top: 2px;

}
#box4{
    position: fixed;
    right: 10px;
    background-size: contain;
    background-image: url("https://images.pexels.com/photos/276092/pexels-photo-276092.jpeg?auto=compress&cs=tinysrgb&w=600");
}