div{
    height: 200px;
    width: 200px;
    background-color: black;
    color: aliceblue;
}
@media(max-width: 300px){
    #div1{
        background-color: green;
    }

}
@media(min-width:300px) and (max-width:400px){
    #div2{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    #div3{
        background-color: red;
    }
}
@media(min-width: 600px){
    #div4{
        background-color: blue;
    }

}